@font-face {
  font-family: 'open-sans';
  src: url(../fonts/open-sans-400.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'open-sans';
  src: url(../fonts/open-sans-600.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'open-sans';
  src: url(../fonts/open-sans-700.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-grey: #333;
  --color-black: #000;
  --color-light-grey: #999;
  --color-purpule: #9D5CD0;
  --color-light-purpule: #D1A9F0;
}

body {
  font-family: 'open-sans', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
  border: none;
}

.btn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.container {
  max-width: 1600px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

input, select, textarea {
  border: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

picture {
  display: block;
}

/* HEADER */

.header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}

.header__top {
  background-color: var(--color-black);
}

.header__search, .header__burger {
  display: none;
}

.header__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 30px;
}

.header__top-logo {
  max-height: 38px;
}

.header__top-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78%;
}

.header__top-list {
  display: flex;
}

.header__top-list_link {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-white);
}

.header__top-list_item:not(:first-child) {
  margin-left: 62px;
}

.header__top-area_link {
  font-weight: 400;
  font-size: 18px;
  color: var(--color-white);
}

.header__top-right_area {
  background-image: url(../img/arrow_goin.svg);
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 19px;
}

.header__bottom {
  background: rgba(0, 0, 0, 0.4)
}

.header__bottom-left {
  display: flex;
  justify-content: space-between;
  padding: 26px 0 25px 0;
  width: 65%;
}

.header__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.dropdown__title {
  font-weight: 400;
  font-size: 18px;
  color: var(--color-white);
}

.dropdown__window-choice_link {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-white);
}

.header__bottom-left_dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown__nav {
  display: none;
  position: absolute;
  top: 45px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
}

.dropdown__nav.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown__window-choice_list {
  display: flex;
  width: 220px;
  height: 220px;
}

.dropdown__window-choice_item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__window-choice_item {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.dropdown__window-choice_link {
  padding-left: 14px;
}

.simplebar-track.simplebar-vertical {
  background-color: var(--color-black);
  right: -21px;
  width: 2px;
}

.simplebar-scrollbar {
  background-color: var(--color-white);
}

.header__bottom-right {
  padding-top: 9px;
}

.header__bottom-input {
  width: 219px;
  border-bottom: 1px solid var(--color-white);
  background: none;
  padding: 1px 0 4px 0;
}

input::placeholder {
  font-weight: 400;
  font-style: 18px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.85)
}

.header__bottom-search_button {
  padding-right: 9px;
}

.header__bottom-form {
  display: flex;
  padding-bottom: 4px;
}

/* HERO */

.hero__slider-image {
  pointer-events: none;
}

.hero__container {
  position: absolute;
  top: 230px;
  left: 137px;
  z-index: 1;
}

.hero__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  width: 570px;
  padding-bottom: 29px;
  color: var(--color-white);
  cursor: default;
}

.hero__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  width: 570px;
  padding-bottom: 93px;
  color: var(--color-white);
  cursor: default;
}

.hero__btn {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
  background-color: var(--color-purpule);
  border-radius: 100px;
  padding: 26px 36px 25px 35px;
}

.hero__slider-image {
  animation: up 30s ease infinite;
}

@keyframes up {
  50% {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

/* ABOUT */

.about__container {
  padding-top: 82px;
  padding-bottom: 70px;
}

.about__title {
  font-weight: 400;
  font-size: 48px;
  color: var(--color-grey);
}

.about__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 1080px;
  padding-top: 21px;
  color: var(--color-grey);
}

/* GALLERY */

.gallery {
  background-image: url(../img/back__gallery.png);
  background-repeat: no-repeat;
  min-height: 995px;
}

.gallery__title {
  font-weight: 400;
  font-size: 48px;
  color: var(--color-white);
  padding-bottom: 28px;
}

.is-selected {
  display: none;
}

.gallery__container {
  display: flex;
  flex-direction: row;
  padding-top: 85px;
}

.gallery__name {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-white);
  margin-bottom: 16px;
}

.gallery__filter {
  flex-basis: 26%;
  padding-right: 52px;
}

.gallery__swiper-container {
  flex-basis: 75%;
  padding-top: 20px;
}

.choices {
  border: 1px solid #fff;
  border-radius: 6px;
}

.choices__inner {
  padding: 0 0 0 0;
  min-height: 38px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  background: none;
  border: none;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0 0 0 0;
}

.gallery__select-item {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-light-grey);
}

.choices__list--single {
  padding: 0 0 0 0;
  width: 100px;
}

.gallery__select-item {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-light-grey)
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: none;
}

.choices__list--dropdown .choices__list {
  color: var(--color-light-grey);
}

.choices__list--dropdown {
  background: none;
  border-bottom: 1px solid #999;
  border-radius: 6px;
  max-width: 396px;
}

.choices__list--single .choices__item {
  padding: 11px 0 11px 14px;
}

.choices[data-type*=select-one]:after {
  content: url(../img/gallery_arrow.svg);
  border: none;
  right: 23px;
  top: 28%;
  margin: 0;
}

.choices[data-type*=select-one].is-open:after {
  margin-top: 23px;
  right: 13.5px;
  transform: rotate(180deg);
}

.gallery__info {
  padding-top: 553px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  max-width: 401px;
  color: var(--color-white);
}

.choices__list--dropdown .choices__item {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-light-grey);
  padding-left: 20px;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999;
}

.gallery__swiper-pagination {
  position: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
}

.swiper__pagination-buttons {
  display: flex;
  justify-content: space-between;
  width: 130px;
  padding-bottom: 27px;
  padding-left: 3px;
}

.gallery__swiper-img {
  max-width: 100%;
  max-height: 100%;
}

.gallery__swiper-wrapper {
  height: 350px;
}

/* CATALOG */

.catalog__container {
  padding-top: 84px;
}

.catalog__title {
  font-weight: 400;
  font-size: 48px;
  color: var(--color-grey);
}

.catalog__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
}

.catalog__country-btn_france {
  background-image: url(../img/france.svg);
}

.catalog__country-btn_germany {
  background-image: url(../img/germany.svg);
}

.catalog__country-btn_italy {
  background-image: url(../img/italy.svg);
}

.catalog__country-btn_russia {
  background-image: url(../img/russia.svg);
}

.catalog__country-btn_belgium {
  background-image: url(../img/belgium.svg);
}

.catalog__country-btn {
  width: 46px;
  height: 46px;
}

.catalog__container-country {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 40.8%;
  padding-bottom: 21px;
}

.catalog__countries-list {
  display: flex;
  justify-content: space-between;
  width: 66%;
}

.catalog__subtitle {
  width: 68%;
}

.catalog__container-content {
  padding-bottom: 39px;
}

.discription__card-title {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-grey);
  padding-bottom: 13px;
}

.discription__card-year {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-light-grey);
}

.discription__card-subtitle {
  max-width: 750px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
  padding-top: 8px;
}

.discription__card-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  padding-top: 13px;
}

.discription__card-foto {
  padding-bottom: 30px;
}

.discription__card-img {
  max-width: 100%;
}

.catalog__countries-discription_content {
  display: none;
}

.catalog__active {
  display: flex;
}

.discription__card-info {
  display: flex;
  flex-direction: column;
}

.catalog__countries-discription_card {
  padding-right: 50px;
}

.catalog__accordion-title_text {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-grey);
}

.accordion__content-btn {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-grey);
}

.catalog__accordion-subtitle_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-grey);
  padding-top: 8px;
  padding-bottom: 7px;
  width: 275px;
}

.catalog__accordion-link_text {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-purpule);
}

.catalog__accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 114px;
  border: none;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.catalog__accordion-item {
  position: relative;
}

.catalog__accordion-item:nth-child(2) {
  top: -1px;
}

.catalog__accordion-item:nth-child(3) {
  top: -2px;
}

.catalog__accordion-item:nth-child(4) {
  top: -3px;
}

.catalog__accordion-item:nth-child(5) {
  top: -4px;
}

.catalog__accordion-item:nth-child(6) {
  top: -5px;
}

.catalog__accordion-item:nth-child(7) {
  top: -6px;
}

.catalog__accordion {
  width: 50%;
}

.catalog__accordion-content_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 297px;
  width: 100%;
}

.catalog__accordion-content_item {
  max-width: calc(100% / 3);
  height: 32px;
}

.catalog__accordion-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border: 2px solid #B7B7B7;
  width: 275px;
  height: 185px;
}

.catalog__accordion-box {
  width: 251px;
  height: 165px;
  background: #B7B7B7;
}

.catalog__accordion-content {
  display: flex;
  padding-top: 32px;
  padding-bottom: 18px;
}

.catalog__accordion-info {
  padding-top: 43px;
}

.events__container-title {
  font-weight: 400;
  font-size: 48px;
  color: var(--color-grey);
}

.events__container {
  padding-top: 80px;
}

.events__container-title {
  padding-bottom: 21px;
}

.cards__place, .cards__date {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-light-grey);
  align-self: flex-end;
}

.cards__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-grey);
  padding-top: 4px;
}

.cards__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
  padding-top: 4px;
  max-width: 415px;
}

.cards__img {
  width: 100%;
  height: auto;
}

.events__cards-footer {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-purpule);
  padding-left: 50px;
}

.events__cards-item {
  width: 500px;
  min-height: 700px;
  margin-bottom: 50px;
}

.cards__picture {
  display: block;
  line-height: 0;
}

.cards__discription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 400px;
  border: 1px solid #cacaca;
  border-top: none;
}

.events__cards-main {
  display: flex;
  flex-direction: column;
  padding: 14px 18px 89px 49px;
  min-height: 232px;
}

.events__cards-footer_link {
  border-bottom: 1px solid #9D5CD0;
}

.events__swiper-pagination {
  display: none;
}

.events__footer {
  display: flex;
  justify-content: center;
}

.events__footer-button {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-purpule);
  padding: 17px 35px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
}

.events {
  padding-bottom: 80px;
}

.edition {
  background-image: url(../img/edition.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.edition__title {
  font-weight: 400;
  font-size: 48px;
  color: var(--color-white);
  padding-top: 85px;
  padding-bottom: 28px;
}

.edition__checkbox-title {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white);
  padding-bottom: 14px;
}

.edition__checkbox-name {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  padding-left: 20px;
}

.edition__checkbox-item:not(:last-child) {
  padding-bottom: 14px;
}

.edition__checkbox-label .edition__checkbox-name {
  display: inline-block;
  position: relative;
}

.edition__checkbox-label .edition__checkbox-name::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -4px;
  top: 3px;
  border: 1px solid var(--color-white);
}

.edition__checkbox-label .edition__checkbox-input[type=checkbox]:checked+.edition__checkbox-name::before {
  background-image: url(../img/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #C283F3;
  transition: border-color 300ms ease;
}

.edition__price-title {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white);
  padding-bottom: 14px;
}

.edition__price {
  padding-top: 41px;
}

.editions__price-label {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  align-self: center;
  padding: 0 11px 0 9px;
}

.editions__price-input {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  background: rgba(157, 92, 208, 0.5);
  width: 62px;
  padding-left: 9px;
}

.edition__price-form {
  display: flex;
  width: 277px;
  min-height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 6px;
}

.edition__container {
  display: flex;
  padding-bottom: 77px;
}

.edition__container-left {
  padding-right: 173px;
}

.edition__card-main_title {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white);
}

.edition__card-main_price {
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  color: var(--color-white);
}

.edition__card-main_name {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
}

.edition__card-button {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white);
}

.edition__right-swiper {
  padding: 114px 0 0 0;
}

.edition__swiper-buttons {
  display: flex;
  justify-content: space-between;
  width: 130px;
  padding-bottom: 27px;
}

.edition__swiper-pagination {
  position: inherit;
  padding-top: 7px;
  color: var(--color-white);
}

.edition__swiper-img {
  width: 100%;
}

.edition__card-header {
  padding-bottom: 22px;
}

.edition__card-main_top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}

.edition__card-button {
  margin-top: 17px;
  padding: 8px 20px 10px 20px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
}

.project__container-title {
  font-weight: 400;
  font-size: 48px;
  color: var(--color-grey);
  padding-bottom: 21px;
}

.project__container {
  padding-top: 85px;
}

.project__container-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
  max-width: 1070px;
}

.project__swiper-title {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-grey);
  padding-top: 22px;
  padding-bottom: 26px;
}

.project__swiper-item {
  max-width: 450px;
}

.project__swiper-link {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 129px;
  border: 1px solid #cacaca;
}

.project__swiper-img {
  filter: grayscale(1);
  max-width: 100%;
  max-height: 100%;
}

.project__swiper {
  margin: 0;
}

.project__swiper-partners {
  display: flex;
  align-items: center;
}

.project__button-prev {
  padding-right: 45px;
}

.project__button-next {
  padding-left: 45px;
}

.project__subtitle-tooltip1, .project__subtitle-tooltip2, .project__subtitle-tooltip3 {
  display: inline-flex;
}

.tippy-box {
  background-color: var(--color-purpule);
  color: var(--color-white);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 260px;
  text-align: center;
  border-radius: 0;
}

.tippy-box .tippy-arrow::before {
  color: var(--color-purpule);
}

.contacts__title {
  font-weight: 400;
  font-size: 48px;
  color: var(--color-grey);
}

.contacts {
  padding-top: 85px;
}

.contacts__header {
  padding-bottom: 21px;
}

.contacts__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
  font-style: normal;
  width: 257px;
  padding-bottom: 30px;
}

.contacts__address-magazine {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-grey);
  font-style: normal;
}

.contacts__wrapper {
  width: 672px;
  min-height: 698px;
  border: 1px solid #cacaca;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  margin-bottom: 40px;
}

.contacts__wrapper-wrapper {
  padding: 123px 120px 0 152px;
}

.contacts__form-label {
  font-weight: 400;
  font-size: 24px;
  color: var(--color-grey);
  padding-bottom: 19px;
}

.contacts__form-input {
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 100px;
  width: 400px;
  height: 40px;
  margin-bottom: 23px;
  padding-left: 22px;
}

.contacts__form-button {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-purpule);
  border: 2px solid var(--color-purpule);
  border-radius: 100px;
  padding: 17px 34px;
}

.contacts__form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-light-grey);
}

.contacts__social-title {
  font-weight: 400;
  font-size: 24px;
  color: var(--color-grey);
  padding-bottom: 18px;
}

.contacts__social-img:not(:last-child) {
  margin-right: 15px;
}

.contacts__map {
  width: 1220px;
  min-height: 700px;
}

.contacts__main {
  display: flex;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.footer {
  background-color: #000;
  padding: 49px 0 43px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__list-social {
  display: flex;
  justify-content: space-between;
}

.footer__right {
  width: 175px;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1160px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }
  .header__top-nav, .header__top-right_area, .header__bottom-container {
    display: none;
  }
  .header__search, .header__burger {
    display: block;
  }
  .header__top-left {
    width: 100%;
    align-items: flex-end;
  }
  .header__top-container {
    padding-top: 29px;
    padding-bottom: 33px;
  }
  .header__top-logo {
    padding-right: 5px;
  }
  .hero__container {
    top: 213px;
    left: 34px;
  }
  .hero__title {
    padding-bottom: 11px;
  }
  .hero__description {
    width: 660px;
    padding-bottom: 132px;
  }
  .gallery__swiper-slide {
    width: 280px;
  }
  .gallery__filter {
    flex-basis: 35%;
  }
  .gallery__swiper-container {
    flex-basis: 75%;
  }
  .gallery__swiper-wrapper {
    height: 282px;
  }
  .gallery__info {
    padding-top: 365px;
  }
  .gallery {
    min-height: 839px;
  }
  .catalog__container-country {
    width: 71%;
    align-items: end;
    padding-bottom: 13px;
  }
  .catalog__countries-list {
    padding-top: 15px;
  }
  .catalog__subtitle {
    width: 100%;
  }
  .catalog__accordion {
    width: 81%;
  }
  .catalog__accordion-content_list {
    align-content: space-between;
    max-height: 384px;
  }
  .catalog__accordion-content_item {
    max-width: calc(100% / 2);
    height: 32px;
  }
  .discription__card-img {
    width: 100%;
  }
  .catalog__accordion-img {
    width: 180px;
    height: 122px;
  }
  .catalog__accordion-box {
    width: 173px;
    height: 114px;
  }
  .catalog__accordion-info {
    padding-top: 8px;
  }
  .edition__container-left {
    padding-right: 0;
  }
  .edition__swiper-slide {
    width: 290px;
    height: 444px;
  }
  .events__cards-item {
    margin-bottom: 34px;
  }
  .events__cards-main {
    padding: 15px 17px 0 34px;
  }
  .cards__subtitle {
    max-width: 221px;
  }
  .cards__discription {
    justify-content: space-between;
    min-height: 482px;
  }
  .events__cards-footer {
    padding: 0 0 54px 34px;
  }
  .edition__right-swiper {
    padding: 114px 0 0 18px;
  }
  .edition__card-header {
    padding-bottom: 14px;
  }
  .project__container {
    padding-top: 88px;
  }
  .contacts {
    padding-top: 62px;
  }
  .contacts__wrapper-wrapper {
    padding: 123px 36px 0 49px;
  }
  .contacts__form-input {
    width: 335px;
  }
  .contacts__social-img {
    width: 60px;
    height: 60px;
  }
  .contacts__social-img:not(:last-child) {
    margin-right: 26px;
  }
  .footer__item-img {
    width: 60px;
    height: 60px;
  }
  .footer__right {
    width: 240px;
  }
  .footer {
    padding: 41px 0 36px 0;
  }
  .footer__container {
    align-items: center;
  }
}

@media (max-width: 1025px) {
  .container {
    max-width: 925px;
  }
}